.editor-wrapper {
  position: relative;
  height: 100%;
}

.editor-wrapper .button-format {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrapper:hover .button-format {
  opacity: 1;
}

.jsxText {
  color: #d4d4d4 !important;
}

.jsxIdentifier {
  color: #ff6060 !important;
}

.jsxBracket {
  color: #d4d4d4 !important;
}
